{% extends "hq_stage/hq_stage.html" %}

{% block title %}
list
{% endblock %}

{% block page_body %}

<p>list</p>
<ul>
  {% for object in object_list %}
    <li><a href="{{ object.get_absolute_url }}">{{ object }}</a></li>
  {% endfor %}
</ul>

<div>
  {% if page_obj.has_other_pages %}
  {#{% if is_paginated %}#}
    {% if page_obj.has_previous %}
      <a href="?page={{ page_obj.previous_page_number }}">
        &lt; previous &lt;
      </a>
    {% endif %}
      page {{ page_obj.number }}
    {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">
        &gt; next &gt;
      </a>
    {% endif %}
  {% endif %}
</div>

{% endblock %}

